In [1]:
import pandas as pd
df = pd.read_csv('spear_phishing_train.csv')
df.head()

,Unnamed: 0,Tweet,following,followers,actions,is_retweet,location,Type,Unnamed: 7,Type_num
0,1,'@realDonaldTrump @USNavy RIP TO HEROES',42096.0,61060.0,5001.0,0.0,"South Padre Island, Texas",Spam,NaN,1
1,4,#DidYouKnow ► Mahatma Gandhi made a brief visi...,17800.0,35100.0,NaN,0.0,"Nottingham, England",Quality,NaN,0
2,6,please don't talk about me like that i'm only ...,0.0,6200000.0,NaN,1.0,"los angeles, ca",Quality,NaN,0
3,22,Need I remind everyone that the first lines yo...,0.0,275000.0,80.0,0.0,"Johannesburg, South Africa",Quality,NaN,0
4,23,Watch: #MonstaX Goes “#AllIn” For Their Comeba...,0.0,2250000.0,NaN,0.0,Lord Juja ❤️,Quality,NaN,0

In [2]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df.Tweet, df.Type_num, test_size = 0.30)

In [3]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer()
X_train_count = vectorizer.fit_transform(X_train.values)
X_train_count.toarray()[:4]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [4]:
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression(random_state=0)
clf.fit(X_train_count, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=0, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [5]:
X_test_count = vectorizer.transform(X_test)
clf.score(X_test_count, y_test)

0.9395973154362416